<h1> This is my article home page: </h1>


<% @blog_posts.each do |blog_post|%>
<%= image_tag blog_post.cover_image if blog_post.cover_image.present?%>
<h2><%= link_to blog_post.title, blog_post %></h2>
 <%=blog_post.content%>
  <div>
    <% if blog_post.draft? %>
  <div class="p-2 rounded bg-gray-100 text-gray-900">Draft BlogPost, Not published </div>
    <% elsif blog_post.scheduled? %>
  <div class="p-2 rounded bg-blue-100 text-gray-900">Schedule for: </div>
    <% end %>
  </div>
<%end%>



<%# Render a view helper in your views (skipping nav links for empty pages) %>
<div class="my-16">
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
















